﻿<ion-view view-title="Defects">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-header-bar align-title="center" class="bar-royal">
        <div class="buttons">
            <button class="button button-clear icon ion-navicon-round" ng-click="openModal(2)"></button>
        </div>
        <h1 class="title">{{data.inspectionChoice.name}}</h1>
        <div class="buttons">
            <button class="button button-clear icon ion-compose" ng-click="openModal(1)"></button>
        </div>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader bar-stable" align-title="center">
        <h1 class="title">{{data.inspectionChoice.defects.length}} Defect{{data.inspectionChoice.defects.length == 1 ? '' : 's'}}</h1>
    </ion-header-bar>


    <ion-content>
        <ion-list>
            <ion-item ng-if="data.inspectionChoice.defects.length == 0" class="item">
                How to use:
            </ion-item>
            <ion-item ng-if="data.inspectionChoice.defects.length == 0" class="item item-icon-left">
                <i class="icon ion-navicon-round"></i>
                Choose Inspection (left)
            </ion-item>
            <ion-item ng-if="data.inspectionChoice.defects.length == 0" class="item item-icon-left">
                <i class="icon ion-compose"></i>
                Add Defects (right)
            </ion-item>
            <ion-item ng-if="data.inspectionChoice.defects.length > 0" ng-repeat="defect in data.inspectionChoice.defects">
                <div class="item item-icon-left" style="border-width: 0px; background-color: rgb(240,240,240);">
                    <i class="icon" ng-class="defect.defectIcon"></i>
                    <h2>{{defect.inspector}}</h2>
                    <h3 ng-bind="defect.timestamp | date:'MM/dd/yyyy hh:mm:ss a'"></h3>
                </div>
                <div class="item item-text-wrap">
                    <p>
                        {{defect.description}}
                    </p>
                    <br />
                    <button ng-if="defect.inspector === $root.data.username" class="button-assertive button-block" ng-click="deleteDefect(defect._id);">Delete</button>
                </div>
            </ion-item>
</ion-content>

    <!--
        The modal for adding a defect to an inspection
    -->
    <script id="add-defect-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar align-title="center" class="bar-balanced">
                <div class="buttons">
                    <button class="button button-clear" ng-click="closeModal(1)">Cancel</button>
                </div>
                <h1 class="title">Add Defect</h1>
                <div class="buttons">
                    <button class="button button-clear" ng-click="createDefect(); closeModal(1)">Save</button>
                </div>
            </ion-header-bar>
            <ion-header-bar class="bar-subheader bar-stable" align-title="center">
                <h1 class="title">{{data.inspectionChoice.name}}</h1>
            </ion-header-bar>
            <ion-content style="margin: 20px;">
                <h4>Defect Type</h4>
                <ion-radio ng-repeat="defectType in data.defectTypes" icon="{{defectType.icon}}" ng-value="defectType.name" ng-model="data.defectTypeChoice">{{defectType.name}}</ion-radio>
                <br/>
                <h4>Description</h4>
                <textarea id="description" ng-model="data.defectDescription" type="text" style="width: 100%; border: 1px solid rgb(220,220,220); overflow-y:scroll" rows="5"></textarea>
            </ion-content>
        </ion-modal-view>
    </script>

    <!--
        The modal for choosing an inspection
    -->
    <script id="choose-inspection-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar align-title="center" class="bar-positive">
                <h1 class="title">Choose Inspection</h1>
                <div class="buttons">
                    <button class="button button-clear" ng-click="closeModal(2)">Done</button>
                </div>
            </ion-header-bar>
            <ion-content>
                <ion-radio ng-repeat="inspection in inspections" ng-model="data.inspectionChoice" ng-value="inspection">{{inspection.name}}</ion-radio>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>