﻿<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="$root.data.username">
            </label>
        </div>
        <button class="button button-block button-royal" ng-click="login()">Login</button>
    </ion-content>
</ion-view>